---
import { Icon } from 'astro-icon/components'
const { name, title } = Astro.props
---

<div class="modal" id=`modal-${name}` aria-hidden="true">
	<div class="overlay" tabindex="-1" data-micromodal-close>
		<div
			class="dialog"
			role="dialog"
			aria-modal="true"
			aria-labelledby=`modal-${name}-title`
		>
			<header class="header">
				<h2 id=`modal-${name}-title`>{title}</h2>
				<button aria-label="Close modal" data-micromodal-close
					><Icon name="close" /></button
				>
			</header>
			<div id=`modal-${name}-content` class="content"><slot /></div>
		</div>
	</div>
</div>
<style>
	.modal {
		opacity: 0;
		pointer-events: none;
		z-index: 5;

		transition: opacity var(--transition-m);
		&.is-open {
			opacity: 1;
			pointer-events: all;

			.dialog {
				transform: scale(1);
			}
		}
	}

	.overlay {
		background: #00000080;

		display: flex;
		justify-content: center;
		align-items: center;

		position: fixed;
		width: 100vw;
		height: 100vh;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.dialog {
		display: flex;
		flex-direction: column;

		max-height: 60vh;
		max-width: 100%;
		overflow: auto;

		background: var(--color-background);
		border-radius: var(--radius-l);
		transform: scale(0.75);
		transition: transform var(--transition-m);
	}

	.header {
		display: flex;
		align-items: center;
		width: 100%;
		padding: var(--space-l);
		h2 {
			font-size: inherit;
			font-weight: inherit;
			width: 100%;
		}
	}

	.content {
		overflow-y: scroll;
		font-size: var(--font-size-s);
		padding: var(--space-l);
	}

	button svg {
		pointer-events: none;
	}

	svg {
		width: 24px;
		height: 24px;
	}
</style>
