---
import Fonts from '@components/utils/Fonts.astro'
import '@styles/global.sass'

const {
  title = 'type.',
  description = 'just type',
  class: className,
} = Astro.props

const base = Astro.url.pathname.endsWith('/')
  ? Astro.url.pathname
  : Astro.url.pathname + '/'
---

<!doctype html>
<html data-font="serif">
  <head>
    <base href={base} target="_self" />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="theme-color" content="#161616" />
    <meta name="msapplication-TileColor" content="#575757" />
    <meta name="msapplication-navbutton-color" content="#161616" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#161616" />

    <meta property="og:title" content={title} />
    <meta property="og:image" content="/og/main.png" />
    <meta property="vk:image" content="/og/main-vk.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/og/main.png" />

    <Fonts />

    <link rel="icon" type="image/svg+xml" href="/fav/favicon.svg" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/fav/favicon-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/fav/favicon-16.png"
    />

    <title>{title}</title>
  </head>
  <body class={className}>
    <main>
      <slot />
    </main>
  </body>
</html>
<script>
  import { loadMode } from '@utils/loadMode'

  console.log(
    '%cHello 🤙🏻',
    'font-size: 1rem; background-color: #eee; padding: 0.5rem; border-radius: 0.25rem',
  )

  loadMode('theme')
  loadMode('font')
</script>
